.readBody {
  height: 100%;
  zoom: 1
}

.readMain {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  width: 900px
}

.readWrap {
  margin: 0 auto;
  width: 100%
}

.textBox {
  border-radius: 2px;
  width: 98%;
  margin: 0 auto 20px;
  padding-bottom: 40px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25);
  color: #111;
}

.readBox {
  width: 90%;
  margin: 0 auto;
  line-height: 2;
  font-size: 16px;
  padding: 10px 0 60px; /*min-height: 469px;*/
  word-wrap: break-word;
  word-break: break-word
}

.readBox p {
  line-height: 2;
  margin-top: 1em;
  text-indent: 2em;
}